* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #373d4b;
}

h1 {
  font: 28px "Poppins";
  color: #EEFBFB;
  margin: 0;
}

h2 {
  font: 20px "Poppins";
  color: #EEFBFB;
  margin: 0;
}

p {
  font: 16px "Hind Guntur";
  color: #a2bbbb;
  margin: 0;
}

a {
  text-decoration: none;
  color: #5378e0;
}

ul {
  list-style: none;
}

::-webkit-scrollbar-track {
  background-color: #4d5465;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #5378e0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5378e055;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5378e0;
}

nav {
  height: 80px;
  background-color: #303241;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
}

nav h1 {
  margin-left: 20px;
}

section {
  padding: 30px 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card {
  width: 150px;
  height: 100%;
  background-color: #303241;
  border-radius: 10px;
  border: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.card:hover {
  border: 2px solid #4d5465;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.card h2 {
  margin: 0 0 8px;
}

.card .photo {
  width: 100%;
  height: 100px;
  background-color: #5378e0;
  border-radius: 8px;
}

.title {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  background-color: #4d5465;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  border-radius: 10px;
}

#back {
  color: #a2bbbb;
  font-size: 20px;
  width: 40px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

#back:hover {
  color: #5378e0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.approve_changes {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

button {
  outline: none;
  background-color: #303241;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  padding: 15px 0;
}

#save {
  background-color: #5378e090;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

#save:hover {
  background-color: #5378e0;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

#discard {
  background-color: #303241;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

#discard:hover {
  background-color: #303241a9;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.section {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enter_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.enter_info p {
  width: 40%;
}

.enter_info input {
  width: 55%;
  height: 60px;
  outline: none;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font: 16px "Hind Guntur";
  color: #373d4b;
  caret-color: #5378e0;
}
